@import "reset.css";
@import "status-bar.css";

/*css를 이용해서 링크를 추가해주자*/

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.welcome-header {
  margin: 90px 0px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-heade__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
#login-form {
  display: flex;
  flex-direction: column; /*위아래로 정렬*/
  margin: 0px 30px;
}
